{{ 'alma-benefit.css' | asset_url | stylesheet_tag }}


<div class="benefit__container">
  <div class="benefit__block ">
    <h2 class="benefit__block--title">Free Delivery</h2>
    <p class="benefit__block--detail">for orders over 200$ to certain countries in Europe</p>
  </div>
  <div class="benefit__block ">
    <h2 class="benefit__block--title">Free Returns</h2>
    <p class="benefit__block--detail">form metropolitan France, Belgium, UK, Germany, Spain, Italy</p>
  </div>
  <div class="benefit__block ">
    <h2 class="benefit__block--title">Secure Payment</h2>
    <p class="benefit__block--detail">Visa, Mastercard, Amex, Paypal</p>
  </div>
</div>

{% schema %}
  {
    "name": "benefit",
    "settings": []
  }
{% endschema %}