{{ 'alma-feedback.css' | asset_url | stylesheet_tag }}

<div class="feedback__container">
  <div class="feedback__container--title">
    <h2>What our customers say about us...</h2>
  </div>
  <div class="feedback__block alma-grid">
    <div class="feedback__block-col grid__col-2">
      <div class="feedback__block-item">
        <div class="feedback-item__header">
          <div class="feedback-item__rating">
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star' -%}
            </i>
          </div>

          <div class="feedback-item__date">00/00/0000</div>
        </div>

        <div class="feedback-item__content">
          <p class="feedback-item__content-detail">
            I highly recommend this product. My sensitive skin is now clearer and smoother. I loved the whole experience. Thank you Alma!
          </p>
          <p class="feedback-item__content-author">
            - Name of the customer
          </p>
        </div>
      </div>

      <div class="feedback__block-item">
        <div class="feedback-item__header">
          <div class="feedback-item__rating">
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star' -%}
            </i>
          </div>

          <div class="feedback-item__date">00/00/0000</div>
        </div>

        <div class="feedback-item__content">
          <p class="feedback-item__content-detail">
            I highly recommend this product. My sensitive skin is now clearer and smoother. I loved the whole experience. Thank you Alma!
          </p>
          <p class="feedback-item__content-author">
            - Name of the customer
          </p>
        </div>
      </div>
    </div>


    <div class="feedback__block-col grid__col-2">
      <div class="feedback__block-item">
        <div class="feedback-item__header">
          <div class="feedback-item__rating">
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star' -%}
            </i>
          </div>

          <div class="feedback-item__date">00/00/0000</div>
        </div>

        <div class="feedback-item__content">
          <p class="feedback-item__content-detail">
            I highly recommend this product. My sensitive skin is now clearer and smoother. I loved the whole experience. Thank you Alma!
          </p>
          <p class="feedback-item__content-author">
            - Name of the customer
          </p>
        </div>
      </div>

      <div class="feedback__block-item">
        <div class="feedback-item__header">
          <div class="feedback-item__rating">
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star-fill' -%}
            </i>
            <i class="feedback-item__star--black">
              {%- render 'icon-star' -%}
            </i>
          </div>

          <div class="feedback-item__date">00/00/0000</div>
        </div>

        <div class="feedback-item__content">
          <p class="feedback-item__content-detail">
            I highly recommend this product. My sensitive skin is now clearer and smoother. I loved the whole experience. Thank you Alma!
          </p>
          <p class="feedback-item__content-author">
            - Name of the customer
          </p>
        </div>
      </div>
    </div>


  </div>
</div>

{% schema %}
  {
    "name": "feedback",
    "settings": []
  }
{% endschema %}