:root{
    --black-color: #000000;
    --background-color: #fff;
    --sub-background-color: #FEFAF2;
    --icon-color: #f5e7c4; 
}
/* component-grid */
  
.alma-page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.25rem; 
    /* 20px */
}

.alma-grid{
    width: 1616px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

}

/* .grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    /* column-gap: var(--grid-mobile-horizontal-spacing); */
    /* row-gap: var(--grid-mobile-vertical-spacing); */
  /* }  */

.grid__row{
    display: flex; /*nawmf ngang*/
    flex-wrap: wrap;
}

.grid__col-4{
    width: 25%;
}

.grid__col-6{
    width: 16.6667%;
    /* margin: 1rem; */
}

.instagram-product-container{
    margin-top: 6.5rem;
}

.instagram-product__header{
    text-align: center;
    margin-bottom: 3rem;
}
.instagram-product__title{

}
.instagram-product__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin: 6.5rem 0; */

}

.instagram-product__item-img{
    display: block; /*để thẻ a nó h.thị block như thẻ div*/
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--background-color);
    /* border-radius: 2px; */
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1); */
    /*Tạo animation  */
    transition: transform linear 0.1s;
    will-change: transform;
    padding: 0 10px;
}

.instagram-product--img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    /* border-top-right-radius: 2px; */
    /* border-top-left-radius: 2px; */
}

